<div class="container">
  <h1 class="text-center my-2">Choose your flickr account</h1>
  <%= simple_form_for @account do |f| %>
    <%#= f.association :food, %>
    <%= f.input :id %>%
  <% end %>
</div>
